# 应用信息查看地址 https://dev.dcloud.net.cn/pages/app/list

# 主机URL
UB_HOST_URL=http://127.0.0.1:8020
# APP包名
UB_PACKAGE_NAME=com.uni.app
# 证书文件（当前目录的相对路径）
UB_KEYSTORE_FILE=app.keystore
# 证书别名
UB_KEYSTORE_ALIAS=__uni__2704aea
# 证书密码
UB_KEYSTORE_PASSWORD=wlSUfUFZ
# App离线打包Key
UB_DCLOUD_APPKEY=b6d5c4037b09b3ed944f78f0066e3464